{% extends "template.html" %}
{% block conteudo %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
    <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Autor</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.category }}</td>
        <td>{{ book.author }}</td>
        <td>
            <a href="{{ url_for('editar', id=book.id) }}">Editar</a>
            <a href="{{ url_for('deletar', id=book.id) }}">Deletar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}